<div class="container">
    <img src="~/images/conversa.png" alt="Fale conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer!</h3>
        <p>Se você tiver alguma dúvida ou sugestão fale conosco!</p>
        <p>
            <h5> <img src="~/images/envelope.png" /> <email endereco="eduardoramosdeveloper@outlook.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <h5><img src="~/images/botao-de-simbolo-de-telefone.png" />  (35) 99749-8035</h5>
            <br />
        </p>
    </div>
</div>