@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Carousel" />
<h2>Os preferidos da semana</h2>
<div class="row">
    @foreach(var lanche in Model.LanchPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>